<div class="container">
  <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Yeni Servis Ekle</h1>
                    

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <div class="row container">
                            <div class="col-md-6" style="margin: auto;">
                                <h6 class="m-0 font-weight-bold text-primary">Servis Düzenle</h6>
                                <%= render 'services/shared/errors' %>   
                            </div>
                            <div class="col-md-6">
                                <%= button_to "Geri", services_path, method: :get, class: "btn btn-danger float-right" %>        
                            </div>  
                          </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                            <%= form_for @service, url: {action: :update}, html: {'data-turbo' => "false"} do |form| %>
                                <div class="container">
                                  <%= form.label "Servis Adı", class: "form-check-label" %>
                                  <%= form.text_field :name, placeholder: 'Servis Adını Giriniz', class: "form-control" %> <br>
                                  <%= form.label "Servis Açıklaması", class: "form-check-label" %>
                                  <%= form.text_field :description, placeholder: 'Servis özelliklerini buraya yazınız', class: "form-control" %> <br>
                                  <%= form.label "Servis Icon", class: "form-check-label" %>
                                  <%= form.text_field :icon, placeholder: 'Icon link', class: "form-control" %> <br>
                                  <br>
                                  <%= form.submit 'Servis Düzenle', class: "btn btn-primary" %>
                                </div>
                              <% end %>
                            </div>
                        </div>
                    </div>

    
  </div>
</div>