<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <%= link_to(root_path, class: "sidebar-brand d-flex align-items-center justify-content-center") do %>
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">My Hotel <sup>1</sup></div>
            <% end %>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <%= link_to(root_path, class: "nav-link") do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ana Sayfa</span></a>
                <% end %>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <%= link_to(rooms_path, class: "nav-link") do %>
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Oda İşlemleri</span></a>
                <% end %>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
        
            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
            <%= link_to(services_path, class: "nav-link") do %>
                    <i class="fas fa-fw fa-table"></i>
                    <span>Servisler</span></a>
                <% end %>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Heading -->
            <div class="sidebar-heading">
                Users
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
            <%= link_to(users_path, class: "nav-link") do %>
                    <i class="fas fa-fw fa-table"></i>
                    <span>Kullanıcılar</span></a>
                <% end %>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>